templates/wikipedia/workflow.json
{
  "format": "n8n-claw-template",
  "format_version": 1,
  "sub": {
    "name": "MCP Sub: Wikipedia",
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner"
    },
    "nodes": [
      {
        "id": "sub-trigger",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [0, 0],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "sub-code",
        "name": "Search Wikipedia",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [256, 0],
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst query = input.query || '';\n\nif (!query) {\n  return [{ json: { error: 'No search query provided' } }];\n}\n\n// First try direct page lookup\ntry {\n  const summary = await helpers.httpRequest({\n    method: 'GET',\n    url: 'https://en.wikipedia.org/api/rest_v1/page/summary/' + encodeURIComponent(query),\n    returnFullResponse: true\n  });\n\n  if (summary.statusCode === 200) {\n    const data = typeof summary.body === 'string' ? JSON.parse(summary.body) : summary.body;\n    return [{ json: {\n      title: data.title,\n      summary: data.extract,\n      url: data.content_urls.desktop.page\n    } }];\n  }\n} catch (e) {\n  // Direct lookup failed, try search\n}\n\n// Search Wikipedia\ntry {\n  const search = await helpers.httpRequest({\n    method: 'GET',\n    url: 'https://en.wikipedia.org/w/api.php?action=query&list=search&srsearch=' + encodeURIComponent(query) + '&format=json&srlimit=3'\n  });\n\n  const results = search.query && search.query.search;\n  if (!results || results.length === 0) {\n    return [{ json: { error: 'No Wikipedia articles found for: ' + query } }];\n  }\n\n  // Fetch summary of the first search result\n  const topTitle = results[0].title;\n  const summary = await helpers.httpRequest({\n    method: 'GET',\n    url: 'https://en.wikipedia.org/api/rest_v1/page/summary/' + encodeURIComponent(topTitle)\n  });\n\n  return [{ json: {\n    title: summary.title,\n    summary: summary.extract,\n    url: summary.content_urls.desktop.page\n  } }];\n} catch (e) {\n  return [{ json: { error: 'Wikipedia API error: ' + e.message } }];\n}"
        }
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [[{ "node": "Search Wikipedia", "type": "main", "index": 0 }]]
      }
    }
  },
  "server": {
    "name": "MCP: Wikipedia",
    "settings": {
      "executionOrder": "v1"
    },
    "nodes": [
      {
        "id": "mcp-trigger",
        "name": "MCP Server Trigger",
        "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
        "typeVersion": 2,
        "position": [0, 0],
        "parameters": {
          "path": "wikipedia"
        }
      },
      {
        "id": "tool-wf",
        "name": "search_wikipedia",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [0, 300],
        "parameters": {
          "name": "search_wikipedia",
          "description": "Search Wikipedia and get article summaries. Parameter: query (search term)",
          "workflowId": {
            "__rl": true,
            "value": "REPLACE_SUB_WORKFLOW_ID",
            "mode": "id"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "query": "={{ $fromAI('query', 'Search term for Wikipedia lookup', 'string') }}"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "query",
                "displayName": "query",
                "type": "string",
                "description": "Search term for Wikipedia lookup",
                "required": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          }
        }
      }
    ],
    "connections": {
      "search_wikipedia": {
        "ai_tool": [[{ "node": "MCP Server Trigger", "type": "ai_tool", "index": 0 }]]
      }
    }
  }
}
